<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>gruuub</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>
    $(document).ready( function() {
      var hash = {};
      var q = document.URL.split('?')[1];
      if(q != undefined){
        q = q.split('&');
        for(var i = 0; i < q.length; i++){
          term_arr = q[i].split('=');
          hash[term_arr[0]] = term_arr[1];
        }
      }

      if (hash["query"] != undefined && hash["query"] != "") {
        $("#query").val(hash["query"]);
      }
      if (hash["location"] != undefined && hash["location"] != "") {
        $("#location").val(hash["location"]);
      }
    });
  </script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Gruuub!</h1>
          <p>Making choosing a place to eat dead simple.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Search</h2>
        <form action="/" method="get" class="search-form">
          <div class="row">
            <div class="col-sm-2">
              <label for="query">Keyword</label>
            </div>
            <div class="col-sm-3">
              <input name="query" id="query">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="location">Location</label>
            </div>
            <div class="col-sm-3">
              <input name="location" value="80304" id="location">
            </div>
          </div>

          <input type="submit" class="btn btn-primary btn-lg center submit-button" value="Let's gruuub!" style=""></input>
        </form>
      </div>

      <div class="col-sm-6">
        <h2>Your Result</h2>
        <h3><a href="{{ .Url }}" target="_blank">{{ .Name }}</a></h3>
        <p><strong>Rating:</strong> {{ .Rating }}</p>
        <p><strong>Address:</strong> {{ .PrettyLocation }}</p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="pull-left created-by">Created by <a href="http://tracehelms.com">Trace Helms</a></p>
      <p class="pull-right yelp-credits">Powered by <a href="https://yelp.com"><img src="images/yelp.png"/></a></p>
    </div>
  </footer>
</body>
</html>
