html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.search-form{
  margin: 10px 0;
}
.search-form input, .search-form label{
  margin: 5px 0;
}
.search-form input.submit-button{
  margin-top: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}
.footer .created-by{
  margin-top: 44px;
}
.footer .yelp-credits {
  margin-top: 25px;
}
.footer .yelp-credits img {
  vertical-align: bottom;
}
